<div class="row">
    <div class="col-md"></div>
    <div class="col-md">
        <div class="card card-black">
            <br>
            <div class="card-body">
              <h5 class="card-title">
                  <strong>Sign up</strong>
              </h5><br>
              <div class="form-group">
                  <label>Username</label>
                <input type="email" class="form-control input-balck">
                <div class="invalid-feedback">Please enter a valid email or phone number.</div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control input-balck">
              </div>
              <div class="form-group">
                <label>Confirm password</label>
                <input type="password" class="form-control input-balck">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label">I've read, and accept terms and conditions policy.</label>
              </div>
              <button type="submit" class="btn btn-red btn-block">Sign up</button>
              <br>
              <p>Already have an account? <a routerLink="/login">Sign in now.</a></p>
              <br>
              <p>
                  <small>
                    This page is protected by Google reCAPTCHA to ensure you're not a bot. 
                    <a href="http://">Learn more?</a>
                  </small>
              </p>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
