<div class="row">
    <div class="col-md"></div>
    <div class="col-md">
        <div class="card card-black">
            <br>
            <div class="card-body">
              <h5 class="card-title">
                  <strong>Sign in</strong>
              </h5><br>
              <div class="form-group">
                  <label>Username</label>
                <input type="email" [(ngModel)]="login.username" class="form-control input-balck">
                <div class="invalid-feedback">{{authError}}</div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" [(ngModel)]="login.password" class="form-control input-balck">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" [(ngModel)]="login.rememberMe" class="form-check-input">
                <label class="form-check-label">Remember me</label>
              </div>
              <button type="submit" (click)="authenticate()" class="btn btn-red btn-block">Sign in</button>
              <br>
              <p>New to Netflix? <a routerLink="/signup">Sign up now.</a></p>
              <br>
              <p>
                  <small>
                    This page is protected by Google reCAPTCHA to ensure you're not a bot. 
                    <a routerLink="/readmore">Learn more?</a>
                  </small>
              </p>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
